body{
    max-width: 1480px;
    font-family: Roboto Thin sans-serif;


}
.title{
    margin: 63px 0 0 98px;
    width: 334px;
    font-size:80px;
    line-height: 93.75px;
}
.title-link{
    color: #000000;
    text-decoration: none;
}
.bluetitle{
    color:#4BCAFF;
}

.horizontal-menu{
    margin:38px 99px 0 98px;
    background-color: #35444F;
    width: 1283px;
    height: 72px;
    display: flex;
    justify-content: center;
    }
.horizontal-menu>li:hover{
    background-color: #222F3A;
}
.box{
    padding: 26px 38px 19px 38px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    height: 100%;
    font-size: 24px;
    line-height: 28.13px;
    box-sizing: border-box;

}
.link1{
    text-decoration: none;
    color: #FFFF;

}
.container-vertical-menu{
    display: flex;

}
.vertical-menu {
    margin: 48px 0 0 98px;
    min-width: 344px;
    height: 399px;
    border: 1px solid #000000;

}
.vertical-menu>.item:hover{
    background-color: #DBDBDB;
    color:#000000;
    padding-left: 78px;

}
.item{
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    border: 1px solid #FFF;
    padding-left: 44px;
    padding-top: 26.4px;
    padding-bottom: 26.4px;
}
.block-img-text {
     width: 885px;
    }

.back-box {
    height: 529px;
    width: 885px;
    border: 1px solid #000000;
    margin-top: 48px;
    margin-left: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img:hover{
    transform: scale(1.2);
    transition: 5s;
}
.text-1{
    width:885px ;
    margin-top: 37px;
    margin-left: 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

}
.text-2{
    width:885px ;
    margin-top: 34px;
    margin-left: 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

}
.footer-menu {
    width: 1280px;
    height: 69px;
    margin-left: 98px;
    margin-top: 54px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    padding-left: 40px;
    box-sizing: border-box;
}
.footer-menu>li:hover{
    color:#3181A6;
    text-decoration-line: underline;
}
.copyright{
    flex-basis: 365px;
    text-align: right;
    padding-right: 40px;
}